* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
}

ul {
  list-style: upper-alpha;
  list-style-type: square;
}
li {
  list-style-type: square;
  display: list-item;
  margin-left: 1em;
}

ul li {
  list-style-type: square;
}
